.main{
    padding-top: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
}

.gallery-film__list{
    padding: 0 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -32px;
   
    @media screen and (min-width: 768px) {
    // flex-direction: row;
    }

     @media screen and (min-width: 1280px) {
    padding: 0 17px;
    }

    @media screen and (min-width: 1310px) {
    padding: 0 32px;
    }
}

.gallery-film__item{
    border-radius: $primaryBorderRadius;
    margin-bottom: 32px;
    margin-left: 32px;
    
    @media screen and (max-width: 767px) {
            &:last-child {
                margin-bottom: 0px;
            }
        }
    

    @media screen and (min-width: 768px) {
            margin-left: 32px;
        }

}
.gallery-list__poster{
margin-bottom: 10px;

width: 280px;
    height: 402px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
        height: 574px;
    }
}

.gallery-film__img{
    display: block;
    width: 280px;
    height: 402px;

    @media screen and (min-width: 768px) {
            width: 336px;
            height: 455px;
        }
        
        @media screen and (min-width: 1280px) {
            width: 395px;
            height: 574px;
        }
}

.gallery-list__description{
    width: 280px;
}
.gallery-film__title{
    color: $movieTitleTextColor;
    font-size: $secondaryFontSize;
    line-height: $secondaryLineHeight;

    @media screen and (min-width: 1280px) {
    font-size: $primaryFontSize;
    line-height: $primaryLineHeight;
    }
}

.gallery-film__text{
    font-size: $secondaryFontSize;
    line-height: $secondaryLineHeight;

    color: $movieGenreAndYearTextColor;

    @media screen and (min-width: 1280px) {
    font-size: $primaryFontSize;
    line-height: $primaryLineHeight;
    }
}

.gallery-list__card{
    width: 280px;
    height: 440px;
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 500ms;
    
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover,
        &:focus {
            cursor: pointer;
    
            box-shadow: 0px 0px 15px 5px rgba(255, 107, 8, 0.75);
    
            transform: scale(0.98);
        }

                @media screen and (min-width: 768px) {
                    width: 336px;
                    height: 495px;
                }
        
                @media screen and (min-width: 1280px) {
                    width: 395px;
                    height: 694px;
                }

}

.gallery-film__raiting{
    color: $headerTextColor;
    background-color: $accentBackgroundColor;
}